<% provide(:title, "Sign in") %>
<h1>Sign in</h1>

    <div class="col-lg-6">
        <div class = "well">  
        <%= form_for(:session, url: sessions_path) do |f| %>
            <div class="field">
                <%= f.label :email  %>
                <%= f.text_field :email,:class => "form-control", id: "inputDefault" %>
            </div>
            <div class="field">
                <%= f.label :password %>
                <%= f.password_field :password,:class => "form-control", id: "inputDefault" %>
            </div>
            <%= f.submit "Sign in", class: "btn btn-large btn-primary" %>
        <% end %>

        <p>New user? <%= link_to "Sign up now!", signup_path %></p>

    </div>
</dvi>