<div class = "container">
<div class = "container">
  <div class="page-header" id="banner">
    <div class="row">
      <div class="col-lg-6">
           <% provide(:title, "Edit user") %>
           <h1>Update your profile</h1>
      </div>
    </div>
  </div>


    <div class="col-lg-6">
        <div class = "well">  
            <%= form_for(@user) do |f| %>
                <%= render 'shared/error_messages' %>
                <div class="field">
                    <%= f.label :name %>
                    <%= f.text_field :name,:class => "form-control", id: "inputDefault"%>
                </div>
                <div class="field">
                    <%= f.label :email %>
                    <%= f.text_field :email,:class => "form-control", id: "inputDefault" %>
                </div>
                <div class="field">
                    <%= f.label :password %>
                    <%= f.password_field :password ,:class => "form-control", id: "inputDefault"%>
                </div>
                <div class="field">
                    <%= f.label :password_confirmation, "Confirm Password" %>
                    <%= f.password_field :password_confirmation,:class => "form-control", id: "inputDefault" %>
                </div>
                <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
              <% end %>

    <%= gravatar_for @user %>
    <a href="http://gravatar.com/emails">change</a>
      </div>
    </div>
</div>