<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
     </h1>
    </section>
    </aside>
</div>
<div>
     
      This is the AWM launch pad. This page will allow you to launch the apps you have been set up with

         
</div>
      <%= link_to "Bin Locations", signup_path, class: "btn btn-large btn-primary" %>  
      <%= link_to "Stock Codes", signup_path, class: "btn btn-large btn-primary" %>
      <%= link_to "Pick Portal", signup_path, class: "btn btn-large btn-primary" %>
