  <div class="row">
      <div class="col-md-6 center">
          <%= link_to image_tag("Anglo-logo-home.gif", alt: "Angloamerican"), "http://www.angloamerican.com.au" %>
      </div>
  </div>


	<div class="jumbotron">
			<% provide(:title, @user.name) %>
			<div class="row">
  			<aside class="span4">
					<section>
  					<h2>
   						<%= gravatar_for @user %>
  	 	 		  		<%= @user.name %>
 					</h2>
			 			</section>
				</aside>
			</div>
		<div>
		 <h3>
	     	Welcome to the Angloamerican Warehouse Application home page. 
     </h3>
	  </div>
  	<div class="bs-example">
      <div class="list-group">
        <a href="#" class="list-group-item active">
          Application Menu
        </a>
        <%= link_to "Receipt by Manifest", manifests_path, class: "list-group-item" %>
        <%= link_to "Receipt by Purchase Order", purchaseorders_path , class: "list-group-item" %>           
        <%= link_to "Receipts Status", receipts_path, class: "list-group-item" %>
      </div>
    </div>
  </div>


