<h1>Listing manifest_items</h1>

<table>
  <tr>
    <th>Manifest no</th>
    <th>Con note</th>
    <th>Organisation</th>
    <th>Con note date</th>
    <th>Sender</th>
    <th>Receiver</th>
    <th>Number items</th>
    <th>Pallet description</th>
    <th>Pallet weight</th>
    <th>Manifest po no</th>
    <th>Manifest</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @manifest_items.each do |manifest_item| %>
  <tr>
    <td><%= manifest_item.manifest_no %></td>
    <td><%= manifest_item.con_note %></td>
    <td><%= manifest_item.organisation %></td>
    <td><%= manifest_item.con_note_date %></td>
    <td><%= manifest_item.sender %></td>
    <td><%= manifest_item.receiver %></td>
    <td><%= manifest_item.number_items %></td>
    <td><%= manifest_item.pallet_description %></td>
    <td><%= manifest_item.pallet_weight %></td>
    <td><%= manifest_item.manifest_po_no %></td>
    <td><%= manifest_item.manifest_id %></td>
    <td><%= link_to 'Show', manifest_item %></td>
    <td><%= link_to 'Edit', edit_manifest_item_path(manifest_item) %></td>
    <td><%= link_to 'Destroy', manifest_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Manifest item', new_manifest_item_path %>
