<script>
$(document).ready( function () {
  $('#example').dataTable( {
    "sDom": "<'row-fluid'<'span6'T><'span6'f>r>t<'row-fluid'<'span6'i><'span6'p>>",
      "oTableTools": {
        "aButtons": [
          "copy",
            "print",
            {
              "sExtends":    "collection",
              "sButtonText": 'Save <span class="caret" />',
              "aButtons":    [ "csv", "xls", "pdf" ]
            }
         ]
       }
     } );
 } );
</script>

<div class = "container"> 
  <div class="row">
    <div class="col-md-3 center">        
        <h3>Delivery Manifests: </h3>
    </div>
    <div class="col-md-6 center">
        <p class="lead">Review and manage outstanding delivery manifests</p>
    </div>
  </div>

  <div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title">Manifest Details</h3>
    </div>
    <div class="panel-body">
      <table id="manifests", cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered"  >
       <thead>     
        <tr>
          <th>Manifest No</th>
          <th>Description</th>
          <th>ETA Date</th>
          <th>Trailers</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
       </thead>

      <tbody>
        <% @manifests.each do |manifest| %>
          <tr>
            <td><%= manifest.manifest_no %></td>
            <td><%= manifest.description%></td>
            <td><%= manifest.eta_date.strftime "%d/%m/%Y" %></td>
            <td><%= manifest.trailers %></td>
            <td></td>
            <td><%= link_to 'Complete', manifest, class: "btn btn-primary btn-sm"  %></td>
          </tr>
        </tbody>
        <% end %>
      </table>
    </div>
  </div>
    <div class="col-md-6 center">
        <%= link_to "Home", current_user, class: "btn btn-large" %>
    </div>
</div>