<h2>Manifests</h2>

<table class="table table-striped">
  <tr>
    <th>Manifest no</th>
    <th>ETA Date</th>
    <th>Trailers</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @manifests.each do |manifest| %>
  <tr>
    <td><%= manifest.manifest_no %></td>
    <td><%= manifest.eta_date %></td>
    <td><%= manifest.trailers %></td>
    <td><%= link_to 'Show', manifest,class: "btn btn-large btn-primary"  %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Manifest', new_manifest_path %>
