<script>
$(document).ready( function () {
  $('#example').dataTable( {
    "sDom": "<'row-fluid'<'span6'T><'span6'f>r>t<'row-fluid'<'span6'i><'span6'p>>",
      "oTableTools": {
        "aButtons": [
          "copy",
            "print",
            {
              "sExtends":    "collection",
              "sButtonText": 'Save <span class="caret" />',
              "aButtons":    [ "csv", "xls", "pdf" ]
            }
         ]
       }
     } );
 } );


</script>

<h2> Manifest Details </h2>

<p id="notice"><%= notice %></p>

<p>
  <b>Manifest no:</b>
  <%= @manifest.manifest_no %>
</p>

<p>
  <b>Eta date:</b>
  <%= @manifest.eta_date %>
</p>

<p>
  <b>Trailers:</b>
  <%= @manifest.trailers %>
</p>


<h2>Consignment Notes</h2>

<table id="manifests", cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered"  >
 <thead>     
  <tr>
    <th>Con Note </th>
    <th>Organisation</th>
    <th>C/N Date</td>
    <th>Sender</th>
    <th>Items</th>
    <th>Pallet</th>
    <th>Weight</th>
    <th>PO No</th>
  </tr>
</thead>  

<tbody>
<% @manifest_items.each do |manifest_item| %>
  <tr>
    <td><%= manifest_item.con_note %></td>
    <td><%= manifest_item.organisation %></td>
    <td><%= manifest_item.con_note_date %></td>
    <td><%= manifest_item.sender %></td>
    <td><%= manifest_item.number_items %></td>
    <td><%= manifest_item.pallet_description %></td>
    <td><%= manifest_item.pallet_weight %></td>
    <td><%= link_to  manifest_item.manifest_po_no, purchaseorder_path, class: "btn btn-large btn-success"  %></td>
 </tr>
 </tbody>
 <% end %>
</table>

<div>
<%#= link_to 'Edit', edit_manifest_path(@manifest) %> 
<%#= link_to 'Back', manifests_path %>
</div>
