
<h2> Purchase Order Details </h2> 

<p id="notice"><%= notice %></p>

<p>
  <b>Po no:</b>
  <%= @purchaseorder.po_no %>
</p>

<p>
  <b>Po type:</b>
  <%= @purchaseorder.po_type %>
</p>

<p>
  <b>Warehouse:</b>
  <%= @purchaseorder.warehouse_id %>
</p>

<p>
  <b>Supplier no:</b>
  <%= @purchaseorder.supplier_no %>
</p>

<p>
  <b>Status:</b>
  <%= @purchaseorder.status %>
</p>

<p>
  <b>District code:</b>
  <%= @purchaseorder.district_code %>
</p>

<p>
  <b>Freight code:</b>
  <%= @purchaseorder.freight_code %>
</p>

<p>
  <b>Delivery location:</b>
  <%= @purchaseorder.delivery_location %>
</p>

<p>
  <b>Order date:</b>
  <%= @purchaseorder.order_date %>
</p>

<p>
  <b>Last rcpt no:</b>
  <%= @purchaseorder.last_rcpt_no %>
</p>

<h2> Purchase Order Items </h2>

<table class="table table-striped" >
  <tr>
    <th>Po no</th>
    <th>Po item no</th>
    <th>Status</th>
    <th>District code</th>
    <th>Stock code</th>
    <th>Purchase req</th>
    <th>Purchase req item</th>
    <th>Unit of issue</th>
    <th>Warehouse</th>
    <th>Order Qty</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @purchaseorder_items.each do |purchaseorder_item| %>
  <tr>
    <td><%= purchaseorder_item.po_no %></td>
    <td><%= purchaseorder_item.po_item_no %></td>
    <td><%= purchaseorder_item.district_code %></td>
    <td><%= purchaseorder_item.stock_code %></td>
    <td><%= purchaseorder_item.purchase_req %></td>
    <td><%= purchaseorder_item.purchase_req_item %></td>
    <td><%= purchaseorder_item.unit_of_issue %></td>
    <td><%= purchaseorder_item.warehouse_id %></td>
    <td><%= purchaseorder_item.curr_qty %></td>
    <td><%=link_to "Receipt", new_receipt_path, class: "btn btn-large btn-success" %></td> 

    <td><%= link_to 'Show', purchaseorder_item,class: "btn btn-large btn-primary"  %></td>
  </tr>
<% end %>
</table>
<%= link_to 'Edit', edit_purchaseorder_path(@purchaseorder) %> |
<%= link_to 'Back', purchaseorders_path %>
