<div class="col-lg-6">
	<div class = "well">
<%= form_for(@receipt) do |f| %>
  <% if @receipt.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@receipt.errors.count, "error") %> prohibited this receipt from being saved:</h2>

      <ul>
      <% @receipt.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :stock_code %><br />
    <%= f.text_field :stock_code,:readonly => true,:class => "input-small" %>
  </div>
    <div class="field">
    <%= f.label :part_no %><br />
    <%= f.text_field :part_no,:readonly => true, :class => "input-small" %>
  </div> 
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description,:readonly => true, :class => "input-xlarge"  %>
  </div>
  <div class="field">
    <%= f.label :bin_location %><br />
    <%= f.text_field :bin_location,:class => "input-small"  %>
  </div>
  <div class="field">
    <%= f.label :receipt_ref %><br />
    <%= f.text_field :receipt_ref, :class => "input-small"  %>
  </div>
  <div class="field">
    <%= f.label :oum %><br />
    <%= f.text_field :oum, :class => "input-small"  %>
  </div>
  <div class="field">
    <%= f.label :label_qty, "Qty Received" %><br />
    <%= f.number_field :label_qty, :class => "input-small"  %>
  </div>
  <div class="field">
    <%= f.label :complete_order %><br />
    <%= f.check_box :complete_order %>
  </div>
  <div class="actions">
    <%= f.submit :class => "btn btn-large btn-success" %>
  </div>
 <% end %>
</div>
 </div>
