<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Receipt an Purchase Order Item into Inventory</h3>
  </div>
  <div class="panel-body">
   <div class="col-lg-6">
  	<div class = "well">
      <%= form_for(@receipt) do |f| %>
        <% if @receipt.errors.any? %>
          <div class="alert alert-dismissable alert-danger">
              <button type="button" class="close" data-dismiss="alert">×</button>
              <h2><%= pluralize(@receipt.errors.count, "error") %> prohibited this receipt from being saved:</h2>
          </div>
            <ul>
            <% @receipt.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
            </ul>
          </div>
        <% end %>
        
        <div class="field">
          <%= f.label :stock_code %><br />
          <%= f.text_field :stock_code,:readonly => true,:class => "form-control", id: "inputDefault" , :value => "000001909" %>
        </div>
         <div class="field">
          <%= f.label :description %><br />
          <%= f.text_field :description,:readonly => true, :class => "form-control", id: "inputDefault" , :value => "Drag Line Cable Spool"  %>
        </div>        
        <div class="field">
          <%= f.label :part_no %><br />
          <%= f.text_field :part_no,:readonly => true, :class => "form-control", id: "inputDefault" , :value => "Drag Line Cable"  %>
        </div> 
        <div class="field">
          <%= f.label :bin_location %><br />
          <%= f.text_field :bin_location,:class => "form-control", id: "inputDefault"  %>
        </div>
        <div class="field">
          <%= f.label :receipt_ref %><br />
          <%= f.text_field :receipt_ref, :class => "form-control", id: "inputDefault"  %>
        </div>
        <div class="field">
          <%= f.label :oum, "OUM" %><br />
          <%= f.text_field :oum, :class => "form-control", id: "inputDefault" %>
        </div>
        <div class="field">
          <%= f.label :label_qty, "Qty Received" %><br />
          <%= f.number_field :label_qty, :class => "form-control", id: "inputDefault"  %>
        </div>
        <div class="field">
          <%= f.label :complete_order %><br />
          <%= f.check_box :complete_order %>
        </div>
        <div class="actions">
          <%= f.submit :class => "btn btn-large btn-success" %>
          <%= link_to "Cancel", manifests_path , type: "button" ,class: "btn btn-large btn-default" %> 
        </div>
       <% end %>
  </div>
 </div>
</div>

