<div class = "container">
  <div class="page-header" id="banner">
    <div class="row">
      <div class="col-lg-6">
        <h1>Receipt Details</h1>
      </div>
    </div>
  </div>
  <div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title">Details</h3>

    <div class="panel-body">
<p id="notice"><%= notice %></p>

<p>
  <b>Stock code:</b>
  <%= @receipt.stock_code %>
</p>

<p>
  <b>Part no:</b>
  <%= @receipt.part_no %>
</p>

<p>
  <b>Description:</b>
  <%= @receipt.description %>
</p>

<p>
  <b>Bin location:</b>
  <%= @receipt.bin_location %>
</p>

<p>
  <b>Receipt ref:</b>
  <%= @receipt.receipt_ref %>
</p>

<p>
  <b>Oum:</b>
  <%= @receipt.oum %>
</p>

<p>
  <b>Label qty:</b>
  <%= @receipt.label_qty %>
</p>

<p>
  <b>Complete order:</b>
  <%= @receipt.complete_order %>
</p>
      </div>
    </div>
  <div>



<%= link_to 'Home', manifests_path %>